<ng-template [ngIf]="wantToDelete">
  <div class="boxContainer danger" (click)="destroy()"></div>
  <div class="popUpBox danger">
    <h4>
      Confirm Deleting
      <span class="fa fa-xmark" (click)="destroy()"></span>
    </h4>
    <div>
      <div class="form-group">
        <label for="cin">CIN</label>
        <input type="text"
               id="cin"
               readonly
               disabled
               value="{{employeeCin}}">
      </div>
      <div class="form-group">
        <label for="reason">Reason</label>
        <input type="text"
               id="reason"
               value="Quit"
               [(ngModel)]="reason"
               [ngClass]="{'error': reason == ''}">
      </div>
      <button class="button" (click)="delete(reason)">
        <span class="fa fa-user-slash"></span>
        Delete
      </button>
    </div>
  </div>
</ng-template>

