<div *ngIf="grades.length > 0; then listContainer else notFound"></div>
<ng-template #listContainer>
  <div class="table-container">
    <table class="table">
      <thead>
      <th>Code</th>
      <th>Libelle</th>
      <th class="actions">Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let grade of grades; index as i">
        <td>{{grade.code}}</td>
        <td>{{grade.libelle}}</td>
        <td class="actions">
        <span class="fa fa-pen-to-square edit"
              (click)="redirectTo('edit', grade.code)"></span>
          <span class="fa fa-trash delete"
                (click)="showDeleteBox(grade.code, grade.libelle,i)"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #notFound>
  <div class="zeroFound">
    <h4>{{randomEmoji}}</h4>
    <h4 class="message">There is no employee</h4>
    <a class="action green" routerLink="add">
      add Grade
    </a>
  </div>
</ng-template>
